<!--
  Generated template for the CreateAccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<form  [formGroup]="formCreateAccount" (ngSubmit)="createAccount()" novalidate>
  <ion-list>
    <ion-item>
      <ion-label stacked>E-mail:</ion-label>
      <ion-input formControlName="email" type="text" placeholder="email"></ion-input>
    </ion-item>
    <ion-item *ngIf="formCreateAccount.get('email').errors && formCreateAccount.get('email').dirty">
      <p color="danger" ion-text *ngIf="formCreateAccount.get('email').hasError('required')">El campo es obligatorio</p>
      <p color="danger" ion-text *ngIf="formCreateAccount.get('email').hasError('email')">Direccion de email no valida</p>
    </ion-item>
    <div formGroupName="pass">
      <ion-item>
        <ion-label stacked>Password:</ion-label>
        <ion-input formControlName="password" type="password" placeholder="password"></ion-input>
      </ion-item>
      <ion-item *ngIf="formCreateAccount.get('pass').get('password').errors && formCreateAccount.get('pass').get('password').dirty">
        <p color="danger" ion-text *ngIf="formCreateAccount.get('pass').get('password').hasError('required')">El campo es obligatorio</p>
        <p color="danger" ion-text *ngIf="formCreateAccount.get('pass').get('password').hasError('minlength')">Minimo 6 caracteres</p>
        
      </ion-item>
      <ion-item>
        <ion-label stacked>Confirm Password:</ion-label>
        <ion-input formControlName="confirm" type="password" placeholder="confirm password"></ion-input>
      </ion-item>
      <ion-item *ngIf="formCreateAccount.get('pass').get('confirm').errors && formCreateAccount.get('pass').get('confirm').dirty || !formCreateAccount.get('pass').get('confirm').errors ">
        <p color="danger" ion-text *ngIf="formCreateAccount.get('pass').get('confirm').hasError('required')">El campo es obligatorio</p>
        <p color="danger" ion-text *ngIf="formCreateAccount.get('pass').get('confirm').hasError('minlength')">Minimo 6 caracteres</p>
        <p color="danger" ion-text *ngIf="formCreateAccount.get('pass').errors ">Password no coincide</p>
      </ion-item>
      
    </div>
      
      
  </ion-list>
  <div padding>
    <button ion-button block type="submit" [disabled]="formCreateAccount.invalid">Crear cuenta</button>
  </div>
</form>
</ion-content>
